<!doctype html>
<html lang="en">
<head>
  <title>Rust blank template</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="public/styles.css">
      <link rel="icon" href="public/favicon.ico">

</head>

<body>
  <h1></h1>
  <h1>Greetings, {{ name }}!</h1>
  <h1>Welcome to my awesome space.</h1>
</body>

</html>